@model VoterAppMVC.Models.Voter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Voter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.votername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.votername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vaddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.voterid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
